@model Libreria.LogicaNegocio.Entidades.Tipo

@{
    ViewData["Title"] = "Editar Descripción y Costo";
}

<h2>Editar Descripción y Costo - @Model.Nombre</h2>

<hr/>

<div class="row">
    <div class="col-md-4">
        <form asp-action="ActualizarDescripcionCosto" method="post">

            <div class="form-group" style="display: none;">
                <label for="Id">Id:</label>
                <input type="number" name="id" id="Id" class="form-control" value="@Model.Id" />
            </div>

            <div class="form-group">
                <label for="descripcion">Descripción:</label>
                <textarea name="descripcion" id="descripcion" rows="5" class="form-control">@Model.Descripcion</textarea>
            </div>
            <div class="form-group">
                <label for="costo">Costo por Huesped:</label>
                <input type="number" name="costo" id="costo" class="form-control" value="@Model.CostoPorHuesped" />
            </div>
            <div class="form-group">
                <input type="hidden" name="nombre" value="@Model.Nombre" />
                <input type="submit" value="Actualizar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<p>
    @ViewBag.Mensaje
</p>


<div>
    <a asp-action="Index">Volver</a>
</div>